* {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: var(--divider-color);
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}
header {
  background: var(--default-primary-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
header img {
  width: 100px;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--accent-color);
  padding-top: 12px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
ul li a {
  color: var(--text-primary-color);
  font-size: 1.3em;
  text-transform: uppercase;
}

#hamburger-icon div {
  width: 20px;
  height: 3px;
  background-color: var(--text-primary-color);
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  height: calc(100vh-100px);
  width: 100%;
  z-index: 1;
}
.mobile-menu li {
  margin-bottom: 10px;
}
header nav {
  display: none;
}
#hamburger-icon {
  display: block;
  margin-top: 30px;
  margin-right: 20px;
}
/* ASIDE */
.aside{
  position: sticky;
  bottom: 0px;
  display: inline-block;
  background-color: var(--divider-color);
  border: 1px solid black;
  width: 100vw;
  height: 15vh;
  display: flex;
  padding: 4px;
}
.aside input[type="date"]{
  background-color: var(--default-primary-color);
  padding: 5px;
  color: var(--text-primary-color);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 48vw;
}
::-webkit-calendar-picker-indicator{
  background-color: var(--text-primary-color);
  cursor: pointer;
  border-radius: 3px;
}
.aside input[type="button"]{
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 4px 4px;
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  border-radius: 5px;
  width: 40vw;
}

/* MAIN */
.content-principal{
  padding: 0px 10px;
}
.card-principal .slider{
  width: 90%;
  height: 50vh;
  margin: 0 auto;
}
/* SLIDER */
.slider{
  display: flex;
  width: 90%;
  height: 60vh;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
}
.slider img{
  flex: 0 0 85%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
.info h1{
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 0px;
}
.info .localizacion{
  font-style: italic;
}
.card-principal .propiedades{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.propiedades p{
  width: 50%;
  margin: 10px 0px;
  margin-bottom: 20px;
}
h2{
  padding-left: 5px;
  margin-bottom: 15px;
}
.card-precios{
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 15px;
  margin-bottom: 10px;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}
.precios-info{
  padding: 10px;
}
.precios-info h4{
  font-weight: 100;
}
.precios-info .precio{
  margin-top: 10px;
}
.precio strong{
  font-size: 18px;
}
.descripcion-card{
  padding: 0px 15px;
  border-radius: 5px;
  text-align: justify;
  margin-bottom: 40px;
}



/* FOOTER */
footer {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  background-color: var(--dark-primary-color);
}
footer div {
  display: block;
  font-size: 1.3rem;
}
.social {
  display: inline-block;
  height: 20px;
  margin: 2px;
  width: 20px;
}
@media only screen and (min-width: 1024px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "slider slider slider"
    "footer footer footer";
    grid-template-rows: repeat(3,auto);

  }
  header{
    grid-area: header;
  }
  footer{
    grid-area: footer;
  }
  main{
    grid-area: main;
  }
  .slider{
    grid-area: slider;
  }
  aside{
    grid-area: aside;
  }
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--default-primary-color);
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  ul li a {
    color: var(--text-primary-color);
    font-size: 16px;
    padding: 10px 15px;
  }
  header nav{
    display: flex;
  }
  main{
    border-right: 2px solid var(--accent-color);
  }

  /* ASIDE */
  .aside{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 30vw;
    background: none;
    border: none;
    height: 80vh;
  }
  .aside input[type="date"]{
    width: 100%;
    margin: 5px 0px
  }
  .aside input[type="button"]{
    width: 100%;
  }
  /* SLIDER */
  .slider{
    margin: 10px auto;
    height: 40vh;
    width: 80vw;
    /* margin: 0 auto; */
  }
  .card-principal img{
    width: 98%;
    height: 40vh;
  }
}


:root {
  --dark-primary-color: #388e3c;
  --default-primary-color: #4caf50;
  --light-primary-color: #c8e6c9;
  --text-primary-color: #ffffff;
  --accent-color: #795548;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}